.postListGrid {
	display: grid;
	gap: 24px;
	grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.centred {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
}

.thumbnail {
  width: calc(100% - 8px);
  height: auto;
  max-width: calc(768px - 16px)
}
