<nav class="navigationBar navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="topNavigationBar">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>
	<div id="topNavigationBar" class="navbar-menu">
		<div class="navbar-start">
			<a href=" {{ '/' | relative_url }} " class="navbar-item button is-ghost">Home</a>
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link is-arrowless button is-ghost">Reiseziele</a>
				<div class="navbar-dropdown">
					<div class="navbar-item nested dropdown">
						<div class="dropdown-trigger">
							<a href="{{ '/category/europa" || relative_url }}" class="button is-ghost"
								aria-haspopup="true" aria-controls="dropdown-menu">
								Europa
							</a>
						</div>
						<div class="dropdown-menu" id="dropdownEurope" role="menu">
							<div class="dropdown-content">
								<a href="{{ '/category/s&uuml;deuropa' | relative_url }}" class="dropdown-item button is-ghost">S&uuml;deuropa</a>
								<!--
								<a href="{{ '/category/mitteleuropa' | relative_url }}" class="dropdown-item button is-ghost">Mitteleuropa</a>
								<a href="{{ '/category/osteuropa' | relative_url }}" class="dropdown-item button is-ghost">Osteuropa</a>
								<a href="{{ '/category/westeuropa' | relative_url }}" class="dropdown-item button is-ghost">Westeuropa</a>
								<a href="{{ '/category/nordeuropa' | relative_url }}" class="dropdown-item button is-ghost">Nordeuropa</a>
								-->
							</div>
						</div>
					</div>
					<!--
					<div class="navbar-item nested dropdown">
						<div class="dropdown-trigger">
							<a href="{{ '/category/afrika' | relative_url }}" class="button is-ghost"
								aria-haspopup="true" aria-controls="dropdown-menu">
								Afrika
							</a>
						</div>
						<div class="dropdown-menu" id="dropdownAfrica" role="menu">
							<div class="dropdown-content">
								<a href="{{ '/category/s&uuml;dafrika' | relative_url }}" class="dropdown-item button is-ghost">S&uuml;dafrika</a>
							</div>
						</div>
					</div>
					<div class="navbar-item nested dropdown">
						<div class="dropdown-trigger">
							<a href="{{ '/category/asien' | relative_url }}" class="button is-ghost"
								aria-haspopup="true" aria-controls="dropdown-menu">
								Asien
							</a>
						</div>
						<div class="dropdown-menu" id="dropdownAsia" role="menu">
							<div class="dropdown-content">
								<a href="{{ '/category/arabien' | relative_url }}" class="dropdown-item button is-ghost">Arabien</a>
							</div>
						</div>
					</div>
					<div class="navbar-item nested dropdown">
						<div class="dropdown-trigger">
							<a href="{{ '/category/nordamerika' | relative_url }}" class="button is-ghost"
								aria-haspopup="true" aria-controls="dropdown-menu">
								Nordamerika
							</a>
						</div>
						<div class="dropdown-menu" id="dropdownNorthAmerica" role="menu">
							<div class="dropdown-content">
								<a href="{{ '/category/nordost' | relative_url }}" class="dropdown-item button is-ghost">Nordost USA</a>
								<a href="{{ '/category/s&uuml;dwest' | relative_url }}" class="dropdown-item button is-ghost">S&uuml;dwest USA</a>
								<a href="{{ '/category/qu&eacute;bec' | relative_url }}" class="dropdown-item button is-ghost">Qu&eacute;bec</a>
							</div>
						</div>
					</div>
					-->
				</div>
			</div>
			<!--<a href="{{ '/timeline' | relative_url }}" class="navbar-item button is-ghost">Timeline</a>-->
			<a href="{{ /about' | relative_url }}" class="navbar-item button is-ghost">&Uuml;ber mich</a>
		</div>
		<div class="navbar-end">
			<a href="{{ '/feed.xml' | relative_url }}" class="navbar-item button is-ghost"><i class="icon-rss"></i></a>
		</div>
	</div>
</nav>
