
.icon-mail:before { content: '\e800'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
